body {
    background-color: #efefef;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: "Charter", "Georgia", "Times New Roman", serif;
    font-size: 20px;
}

a {
    color: #990000;
}

header nav {
    padding: 5px 0 5px 45px;
}

header pre {
    padding: 5px 0 5px 45px;
}

header h1 {
    font-size: 2.5em;
    color: #111;
    padding: 0 0 0 45px;
}

nav {
    padding: 5px 0 5px 0;
}

main {
    padding: 0 45px;
}

cite {
    font-style: normal;
}

figure pre {
    font-weight: bold;
}

figcaption {
    font-size: 0.9em;
}

table {
    margin: 1em;
}

table, table th, table td {
    border: 1px solid;
}

table th {
    background-color: #ddd;
    padding: 5px;
    text-align: left;
}

table td {
    padding: 5px;
}

.highlight-red {
    background-color: #f4cccc;
}

.highlight-green {
    background-color: #d9ead3;
}

.highlight-purple {
    background-color: #d9d2e9;
}

.highlight {
    background-color: #fdf2d0;
}

@media only screen and (max-width: 1300px) {
    header pre {
        font-size: 12px;
        line-height: normal;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
        line-height: normal;
    }

    header pre {
        font-size: 5px;
    }

    header nav {
        padding: 5px 0 5px 5px;
    }

    header pre {
        padding: 5px 0 5px 5px;
    }

    header h1 {
        padding: 0 0 0 5px;
    }

    main {
        padding: 0 5px;
    }
}
